In [ ]:
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

import seaborn as sns

from google.colab import drive

drive.mount('/content/drive')

!pip install koreanize-matplotlib

import koreanize_matplotlib

Mounted at /content/drive
Collecting koreanize-matplotlib
  Downloading koreanize_matplotlib-0.1.1-py3-none-any.whl.metadata (992 bytes)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (from koreanize-matplotlib) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->koreanize-matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib->koreanize-matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib->koreanize-matplotlib) (4.59.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->koreanize-matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in /usr/local/lib/python3.12/dist-packages (from matplotlib->koreanize-matplotlib) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib->koreanize-matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib->koreanize-matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->koreanize-matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib->koreanize-matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib->koreanize-matplotlib) (1.17.0)
Downloading koreanize_matplotlib-0.1.1-py3-none-any.whl (7.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.9/7.9 MB 53.2 MB/s eta 0:00:00
Installing collected packages: koreanize-matplotlib
Successfully installed koreanize-matplotlib-0.1.1

In [ ]:
select_end = pd.read_csv('/content/drive/MyDrive/최종_프로젝트/pro5/project5/woojin_select_end.csv')

In [ ]:
select_end

,TRAVEL_ID,GENDER,AGE_GRP,INCOME,MARR_STTS,HOUSE_INCOME,TRAVEL_LIKE_SIDO_1,TRAVEL_STYL_1,TRAVEL_STYL_2,TRAVEL_STYL_3,...,TRAVEL_STYL_6,TRAVEL_STYL_7,TRAVEL_STYL_8,TRAVEL_STATUS_ACCOMPANY,VISIT_AREA_ID,VISIT_AREA_NM,LODGING_NM,TRAVEL_TERM,road_select,road_select_first_word
0,e000011,여,60,7,2,NaN,48,3,3,3,...,4,6,6,3인 이상 여행(가족 외),2304300001,"서울랜드, 국립현대미술관",NaN,2,경기도 과천시 광명로 181,경기도
1,e000299,여,50,3,1,NaN,50,4,2,2,...,2,2,6,나홀로 여행,2305270002,제주 국제공항,NaN,3,제주특별자치도 제주시 공항로 2,제주특별자치도
2,e000319,여,50,3,2,5.0,11,4,3,3,...,2,2,2,나홀로 여행,2306010002,친구 집 방문,NaN,3,경기도 부천시 중동1180,경기도
3,e000319,여,50,3,2,5.0,11,4,3,3,...,2,2,2,나홀로 여행,2306010011,둘리의 거리(송내역 로데오거리),NaN,3,경기도 부천시 중동 둘리이거리(송내역 로데오거리),경기도
4,e000329,여,20,4,1,NaN,50,3,1,3,...,6,5,1,2인 여행(가족 외),2305270003,보스 포차,NaN,3,경기도 파주시 청암로 17번길,경기도
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54154,h006874,여,50,3,1,10.0,50,4,1,2,...,2,6,6,나홀로 여행,2309220002,꼬스뗀뇨,NaN,2,제주특별자치도 제주시 구좌읍 해맞이해안로 2080,제주특별자치도
54155,h006874,여,50,3,1,10.0,50,4,1,2,...,2,6,6,나홀로 여행,2309220003,마이 피기 팬트리,NaN,2,제주특별자치도 제주시 구좌읍 하도13길 6,제주특별자치도
54156,h006874,여,50,3,1,10.0,50,4,1,2,...,2,6,6,나홀로 여행,2309220004,월정리 해수욕장,NaN,2,제주특별자치도 제주시 구좌읍 월정리 33-3,제주특별자치도
54157,h006874,여,50,3,1,10.0,50,4,1,2,...,2,6,6,나홀로 여행,2309220005,민경이네어등포해녀촌,NaN,2,제주특별자치도 제주시 구좌읍 해맞이해안로 830,제주특별자치도
54158,h006874,여,50,3,1,10.0,50,4,1,2,...,2,6,6,나홀로 여행,2309220006,김정 문화회관,NaN,2,제주특별자치도 서귀포시 김정문화로 36,제주특별자치도

In [ ]:
display(select_end['road_select_first_word'].unique())

array(['경기도', '제주특별자치도', '서울특별시', '인천광역시', '강원특별자치도', '세종특별자치시', '충청남도',
       '대전광역시', '충청북도', '전라남도', '광주광역시', '경상남도'], dtype=object)

In [ ]:
display(select_end[select_end['road_select'].str.contains('집')])

,TRAVEL_ID,GENDER,AGE_GRP,INCOME,MARR_STTS,HOUSE_INCOME,TRAVEL_LIKE_SIDO_1,TRAVEL_STYL_1,TRAVEL_STYL_2,TRAVEL_STYL_3,...,TRAVEL_STYL_6,TRAVEL_STYL_7,TRAVEL_STYL_8,TRAVEL_STATUS_ACCOMPANY,VISIT_AREA_ID,VISIT_AREA_NM,LODGING_NM,TRAVEL_TERM,road_select,road_select_first_word
35,e003159,남,40,7,1,NaN,50,4,4,4,...,4,4,4,3인 이상 여행(가족 외),2306250001,다원 맛집,플라자CC 용인,2,경기도 용인시 처인구 납사읍 경기동로 67 다원맛집,경기도
210,g001826,여,40,2,2,6.0,48,2,2,2,...,2,4,2,자녀 동반 여행,2306030004,연베이지,NaN,3,세종특별자치시 집현동로 77,세종특별자치시

In [ ]:
select_end

,TRAVEL_ID,GENDER,AGE_GRP,INCOME,MARR_STTS,HOUSE_INCOME,TRAVEL_LIKE_SIDO_1,TRAVEL_STYL_1,TRAVEL_STYL_2,TRAVEL_STYL_3,...,TRAVEL_STYL_6,TRAVEL_STYL_7,TRAVEL_STYL_8,TRAVEL_STATUS_ACCOMPANY,VISIT_AREA_ID,VISIT_AREA_NM,LODGING_NM,TRAVEL_TERM,road_select,road_select_first_word
0,e000011,여,60,7,2,NaN,48,3,3,3,...,4,6,6,3인 이상 여행(가족 외),2304300001,"서울랜드, 국립현대미술관",NaN,2,경기도 과천시 광명로 181,경기도
1,e000299,여,50,3,1,NaN,50,4,2,2,...,2,2,6,나홀로 여행,2305270002,제주 국제공항,NaN,3,제주특별자치도 제주시 공항로 2,제주특별자치도
2,e000319,여,50,3,2,5.0,11,4,3,3,...,2,2,2,나홀로 여행,2306010002,친구 집 방문,NaN,3,경기도 부천시 중동1180,경기도
3,e000319,여,50,3,2,5.0,11,4,3,3,...,2,2,2,나홀로 여행,2306010011,둘리의 거리(송내역 로데오거리),NaN,3,경기도 부천시 중동 둘리이거리(송내역 로데오거리),경기도
4,e000329,여,20,4,1,NaN,50,3,1,3,...,6,5,1,2인 여행(가족 외),2305270003,보스 포차,NaN,3,경기도 파주시 청암로 17번길,경기도
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54154,h006874,여,50,3,1,10.0,50,4,1,2,...,2,6,6,나홀로 여행,2309220002,꼬스뗀뇨,NaN,2,제주특별자치도 제주시 구좌읍 해맞이해안로 2080,제주특별자치도
54155,h006874,여,50,3,1,10.0,50,4,1,2,...,2,6,6,나홀로 여행,2309220003,마이 피기 팬트리,NaN,2,제주특별자치도 제주시 구좌읍 하도13길 6,제주특별자치도
54156,h006874,여,50,3,1,10.0,50,4,1,2,...,2,6,6,나홀로 여행,2309220004,월정리 해수욕장,NaN,2,제주특별자치도 제주시 구좌읍 월정리 33-3,제주특별자치도
54157,h006874,여,50,3,1,10.0,50,4,1,2,...,2,6,6,나홀로 여행,2309220005,민경이네어등포해녀촌,NaN,2,제주특별자치도 제주시 구좌읍 해맞이해안로 830,제주특별자치도
54158,h006874,여,50,3,1,10.0,50,4,1,2,...,2,6,6,나홀로 여행,2309220006,김정 문화회관,NaN,2,제주특별자치도 서귀포시 김정문화로 36,제주특별자치도

In [ ]:
woojin_select = pd.read_csv('/content/drive/MyDrive/최종_프로젝트/pro5/project5/woojin_select.csv')

In [ ]:
woojin_select

,TRAVEL_ID,GENDER,AGE_GRP,INCOME,MARR_STTS,HOUSE_INCOME,TRAVEL_LIKE_SIDO_1,TRAVEL_STYL_1,TRAVEL_STYL_2,TRAVEL_STYL_3,...,TRAVEL_STYL_6,TRAVEL_STYL_7,TRAVEL_STYL_8,TRAVEL_STATUS_ACCOMPANY,VISIT_AREA_ID,VISIT_AREA_NM,LODGING_NM,TRAVEL_TERM,road_select,road_select_first_word
0,e000004,남,40,7,2,8.0,50,5,3,5,...,4,2,5,자녀 동반 여행,2304300002,화성 관광열차 안내소 연무대 매표소,NaN,2,경기 수원시 팔달구 창룡대로103번길 20,경기
1,e000004,남,40,7,2,8.0,50,5,3,5,...,4,2,5,자녀 동반 여행,2304300003,창룡문,NaN,2,경기 수원시 팔달구 남수동,경기
2,e000004,남,40,7,2,8.0,50,5,3,5,...,4,2,5,자녀 동반 여행,2304300004,수원 화성 화홍문,NaN,2,경기 수원시 팔달구 북수동 9000-1,경기
3,e000006,남,30,5,1,NaN,26,3,3,2,...,4,3,2,2인 가족 여행,2304300002,청량리역 경춘선,NaN,3,서울 동대문구 왕산로 214,서울
4,e000006,남,30,5,1,NaN,26,3,3,2,...,4,3,2,2인 가족 여행,2304300003,청평역 경춘선,NaN,3,경기 가평군 청평면 청평역로 97-33,경기
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111835,h006874,여,50,3,1,10.0,50,4,1,2,...,2,6,6,나홀로 여행,2309220002,꼬스뗀뇨,NaN,2,제주특별자치도 제주시 구좌읍 해맞이해안로 2080,제주특별자치도
111836,h006874,여,50,3,1,10.0,50,4,1,2,...,2,6,6,나홀로 여행,2309220003,마이 피기 팬트리,NaN,2,제주특별자치도 제주시 구좌읍 하도13길 6,제주특별자치도
111837,h006874,여,50,3,1,10.0,50,4,1,2,...,2,6,6,나홀로 여행,2309220004,월정리 해수욕장,NaN,2,제주특별자치도 제주시 구좌읍 월정리 33-3,제주특별자치도
111838,h006874,여,50,3,1,10.0,50,4,1,2,...,2,6,6,나홀로 여행,2309220005,민경이네어등포해녀촌,NaN,2,제주특별자치도 제주시 구좌읍 해맞이해안로 830,제주특별자치도
111839,h006874,여,50,3,1,10.0,50,4,1,2,...,2,6,6,나홀로 여행,2309220006,김정 문화회관,NaN,2,제주특별자치도 서귀포시 김정문화로 36,제주특별자치도

In [ ]:
seoul_count = woojin_select[woojin_select['road_select'].str.startswith('서울')].shape[0]
print(f"woojin_select에서 road_select 컬럼이 '서울'로 시작하는 행의 개수: {seoul_count}개")

woojin_select에서 road_select 컬럼이 '서울'로 시작하는 행의 개수: 9616개

In [ ]:
woojin_select['road_select_first_word'] = woojin_select['road_select'].str.split().str[0]
display(woojin_select[['road_select', 'road_select_first_word']].head())

               road_select road_select_first_word
0  경기 수원시 팔달구 창룡대로103번길 20                     경기
1           경기 수원시 팔달구 남수동                     경기
2    경기 수원시 팔달구 북수동 9000-1                     경기
3          서울 동대문구 왕산로 214                     서울
4    경기 가평군 청평면 청평역로 97-33                     경기

In [ ]:
display(woojin_select['road_select_first_word'].value_counts())

road_select_first_word
제주특별자치도          53437
경기                9657
서울                9602
전남                8009
전북                6251
                 ...
하례로62                1
대정읍바닷가               1
영락하동로85번길41-1        1
성산읍                  1
부영8차                 1
Name: count, Length: 2288, dtype: int64

In [ ]:
value_counts = woojin_select['road_select_first_word'].value_counts()
single_occurrence_values = value_counts[value_counts == 1].index
woojin_select_filtered = woojin_select[~woojin_select['road_select_first_word'].isin(single_occurrence_values)]
display(woojin_select_filtered['road_select_first_word'].value_counts())

road_select_first_word
제주특별자치도     53437
경기           9657
서울           9602
전남           8009
전북           6251
            ...
소천강변로256        2
진남관             2
우산길29           2
연신내역            2
공룡로             2
Name: count, Length: 808, dtype: int64

In [ ]:
value_counts_filtered = woojin_select_filtered['road_select_first_word'].value_counts()
two_occurrence_values = value_counts_filtered[value_counts_filtered == 2].index
woojin_select_filtered_2 = woojin_select_filtered[~woojin_select_filtered['road_select_first_word'].isin(two_occurrence_values)]
display(woojin_select_filtered_2['road_select_first_word'].value_counts())

road_select_first_word
제주특별자치도    53437
경기          9657
서울          9602
전남          8009
전북          6251
           ...
서정마을4단지        3
감수북길36         3
북성로            3
한라대학로          3
보목포로           3
Name: count, Length: 364, dtype: int64

In [ ]:
value_counts_filtered_2 = woojin_select_filtered_2['road_select_first_word'].value_counts()
three_occurrence_values = value_counts_filtered_2[value_counts_filtered_2 == 3].index
woojin_select_filtered_3 = woojin_select_filtered_2[~woojin_select_filtered_2['road_select_first_word'].isin(three_occurrence_values)]
display(woojin_select_filtered_3['road_select_first_word'].value_counts())

road_select_first_word
제주특별자치도      53437
경기            9657
서울            9602
전남            8009
전북            6251
             ...
민속촌              4
남지농장직판장에서        4
노형로              4
상무대로             4
예미리              4
Name: count, Length: 200, dtype: int64

In [ ]:
value_counts_filtered_3 = woojin_select_filtered_3['road_select_first_word'].value_counts()
six_or_less_occurrence_values = value_counts_filtered_3[value_counts_filtered_3 <= 6].index
woojin_select_filtered_4 = woojin_select_filtered_3[~woojin_select_filtered_3['road_select_first_word'].isin(six_or_less_occurrence_values)]
display(woojin_select_filtered_4['road_select_first_word'].value_counts())

road_select_first_word
제주특별자치도    53437
경기          9657
서울          9602
전남          8009
전북          6251
           ...
동문로            7
진남로            7
서귀포시           7
중산간동로          7
해안도로           7
Name: count, Length: 64, dtype: int64

In [ ]:
value_counts_filtered_4 = woojin_select_filtered_4['road_select_first_word'].value_counts()
nine_or_less_occurrence_values = value_counts_filtered_4[value_counts_filtered_4 <= 9].index
woojin_select_filtered_5 = woojin_select_filtered_4[~woojin_select_filtered_4['road_select_first_word'].isin(nine_or_less_occurrence_values)]
display(woojin_select_filtered_5['road_select_first_word'].value_counts())

road_select_first_word
제주특별자치도    53437
경기          9657
서울          9602
전남          8009
전북          6251
충남          5362
대전          3857
충북          3706
인천          3301
광주          1465
경남           673
경북           626
부산           539
세종특별자치시      495
대구           400
강원특별자치도      165
제주           107
강원           103
울산            71
우도해안길         40
경기도           35
연평리           30
중앙로           22
일주동로          19
제주시           18
조함해안로         15
애월로           14
협재1길          14
월령3길          13
불섬길           12
서울시           11
홈플러스          11
동광리           11
서해안로          11
산             10
일출로           10
Name: count, dtype: int64

In [ ]:
values_to_remove = ['홈플러스', '동광리', '서해안로', '산', '일출로', '협재1길', '월령 3길', '불섬길', '일주동로', '조합해안로', '애월로', '연평리']
woojin_select_filtered_6 = woojin_select_filtered_5[~woojin_select_filtered_5['road_select_first_word'].isin(values_to_remove)]
display(woojin_select_filtered_6['road_select_first_word'].value_counts())

road_select_first_word
제주특별자치도    53437
경기          9657
서울          9602
전남          8009
전북          6251
충남          5362
대전          3857
충북          3706
인천          3301
광주          1465
경남           673
경북           626
부산           539
세종특별자치시      495
대구           400
강원특별자치도      165
제주           107
강원           103
울산            71
우도해안길         40
경기도           35
중앙로           22
제주시           18
조함해안로         15
월령3길          13
서울시           11
Name: count, dtype: int64

In [ ]:
value_counts_filtered_6 = woojin_select_filtered_6['road_select_first_word'].value_counts()
forty_or_less_occurrence_values = value_counts_filtered_6[value_counts_filtered_6 <= 40].index
woojin_select_filtered_7 = woojin_select_filtered_6[~woojin_select_filtered_6['road_select_first_word'].isin(forty_or_less_occurrence_values)]
display(woojin_select_filtered_7['road_select_first_word'].value_counts())

road_select_first_word
제주특별자치도    53437
경기          9657
서울          9602
전남          8009
전북          6251
충남          5362
대전          3857
충북          3706
인천          3301
광주          1465
경남           673
경북           626
부산           539
세종특별자치시      495
대구           400
강원특별자치도      165
제주           107
강원           103
울산            71
Name: count, dtype: int64

In [ ]:
woojin_select_filtered_7.loc[:, 'road_select_first_word'] = woojin_select_filtered_7['road_select_first_word'].replace('제주', '제주특별자치도')
display(woojin_select_filtered_7['road_select_first_word'].value_counts())

road_select_first_word
제주특별자치도    53544
경기          9657
서울          9602
전남          8009
전북          6251
충남          5362
대전          3857
충북          3706
인천          3301
광주          1465
경남           673
경북           626
부산           539
세종특별자치시      495
대구           400
강원특별자치도      165
강원           103
울산            71
Name: count, dtype: int64

In [ ]:
woojin_select

,TRAVEL_ID,GENDER,AGE_GRP,INCOME,MARR_STTS,HOUSE_INCOME,TRAVEL_LIKE_SIDO_1,TRAVEL_STYL_1,TRAVEL_STYL_2,TRAVEL_STYL_3,...,TRAVEL_STYL_6,TRAVEL_STYL_7,TRAVEL_STYL_8,TRAVEL_STATUS_ACCOMPANY,VISIT_AREA_ID,VISIT_AREA_NM,LODGING_NM,TRAVEL_TERM,road_select,road_select_first_word
0,e000004,남,40,7,2,8.0,50,5,3,5,...,4,2,5,자녀 동반 여행,2304300002,화성 관광열차 안내소 연무대 매표소,NaN,2,경기 수원시 팔달구 창룡대로103번길 20,경기
1,e000004,남,40,7,2,8.0,50,5,3,5,...,4,2,5,자녀 동반 여행,2304300003,창룡문,NaN,2,경기 수원시 팔달구 남수동,경기
2,e000004,남,40,7,2,8.0,50,5,3,5,...,4,2,5,자녀 동반 여행,2304300004,수원 화성 화홍문,NaN,2,경기 수원시 팔달구 북수동 9000-1,경기
3,e000006,남,30,5,1,NaN,26,3,3,2,...,4,3,2,2인 가족 여행,2304300002,청량리역 경춘선,NaN,3,서울 동대문구 왕산로 214,서울
4,e000006,남,30,5,1,NaN,26,3,3,2,...,4,3,2,2인 가족 여행,2304300003,청평역 경춘선,NaN,3,경기 가평군 청평면 청평역로 97-33,경기
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111835,h006874,여,50,3,1,10.0,50,4,1,2,...,2,6,6,나홀로 여행,2309220002,꼬스뗀뇨,NaN,2,제주특별자치도 제주시 구좌읍 해맞이해안로 2080,제주특별자치도
111836,h006874,여,50,3,1,10.0,50,4,1,2,...,2,6,6,나홀로 여행,2309220003,마이 피기 팬트리,NaN,2,제주특별자치도 제주시 구좌읍 하도13길 6,제주특별자치도
111837,h006874,여,50,3,1,10.0,50,4,1,2,...,2,6,6,나홀로 여행,2309220004,월정리 해수욕장,NaN,2,제주특별자치도 제주시 구좌읍 월정리 33-3,제주특별자치도
111838,h006874,여,50,3,1,10.0,50,4,1,2,...,2,6,6,나홀로 여행,2309220005,민경이네어등포해녀촌,NaN,2,제주특별자치도 제주시 구좌읍 해맞이해안로 830,제주특별자치도
111839,h006874,여,50,3,1,10.0,50,4,1,2,...,2,6,6,나홀로 여행,2309220006,김정 문화회관,NaN,2,제주특별자치도 서귀포시 김정문화로 36,제주특별자치도

In [ ]:
woojin_select.to_csv('/content/drive/MyDrive/woojin_select.csv', index=False)
print("woojin_select.csv 파일이 성공적으로 저장되었습니다.")

woojin_select.csv 파일이 성공적으로 저장되었습니다.

In [ ]:
travel_style_cols = [f'TRAVEL_STYL_{i}' for i in range(1, 9)]

def recode_travel_style(value):
    if value in [1, 2]:
        return 1
    elif value in [3, 4, 5]:
        return 2
    elif value in [6, 7]:
        return 3
    else:
        return value # Keep other values as they are

for col in travel_style_cols:
    woojin_select[col] = woojin_select[col].apply(recode_travel_style)

display(woojin_select[travel_style_cols].head())

,TRAVEL_STYL_1,TRAVEL_STYL_2,TRAVEL_STYL_3,TRAVEL_STYL_4,TRAVEL_STYL_5,TRAVEL_STYL_6,TRAVEL_STYL_7,TRAVEL_STYL_8
0,2,2,2,2,2,2,1,2
1,2,2,2,2,2,2,1,2
2,2,2,2,2,2,2,1,2
3,2,2,1,2,2,2,2,1
4,2,2,1,2,2,2,2,1

In [ ]:
woojin_select

,TRAVEL_ID,GENDER,AGE_GRP,INCOME,MARR_STTS,HOUSE_INCOME,TRAVEL_LIKE_SIDO_1,TRAVEL_STYL_1,TRAVEL_STYL_2,TRAVEL_STYL_3,...,TRAVEL_STYL_6,TRAVEL_STYL_7,TRAVEL_STYL_8,TRAVEL_STATUS_ACCOMPANY,VISIT_AREA_ID,VISIT_AREA_NM,LODGING_NM,TRAVEL_TERM,road_select,road_select_first_word
0,e000004,남,40,7,2,8.0,50,2,2,2,...,2,1,2,자녀 동반 여행,2304300002,화성 관광열차 안내소 연무대 매표소,NaN,2,경기 수원시 팔달구 창룡대로103번길 20,경기
1,e000004,남,40,7,2,8.0,50,2,2,2,...,2,1,2,자녀 동반 여행,2304300003,창룡문,NaN,2,경기 수원시 팔달구 남수동,경기
2,e000004,남,40,7,2,8.0,50,2,2,2,...,2,1,2,자녀 동반 여행,2304300004,수원 화성 화홍문,NaN,2,경기 수원시 팔달구 북수동 9000-1,경기
3,e000006,남,30,5,1,NaN,26,2,2,1,...,2,2,1,2인 가족 여행,2304300002,청량리역 경춘선,NaN,3,서울 동대문구 왕산로 214,서울
4,e000006,남,30,5,1,NaN,26,2,2,1,...,2,2,1,2인 가족 여행,2304300003,청평역 경춘선,NaN,3,경기 가평군 청평면 청평역로 97-33,경기
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111835,h006874,여,50,3,1,10.0,50,2,1,1,...,1,3,3,나홀로 여행,2309220002,꼬스뗀뇨,NaN,2,제주특별자치도 제주시 구좌읍 해맞이해안로 2080,제주특별자치도
111836,h006874,여,50,3,1,10.0,50,2,1,1,...,1,3,3,나홀로 여행,2309220003,마이 피기 팬트리,NaN,2,제주특별자치도 제주시 구좌읍 하도13길 6,제주특별자치도
111837,h006874,여,50,3,1,10.0,50,2,1,1,...,1,3,3,나홀로 여행,2309220004,월정리 해수욕장,NaN,2,제주특별자치도 제주시 구좌읍 월정리 33-3,제주특별자치도
111838,h006874,여,50,3,1,10.0,50,2,1,1,...,1,3,3,나홀로 여행,2309220005,민경이네어등포해녀촌,NaN,2,제주특별자치도 제주시 구좌읍 해맞이해안로 830,제주특별자치도
111839,h006874,여,50,3,1,10.0,50,2,1,1,...,1,3,3,나홀로 여행,2309220006,김정 문화회관,NaN,2,제주특별자치도 서귀포시 김정문화로 36,제주특별자치도

# Task
Create a Python script that takes user input for Gender, Age Group, and travel style preferences (TRAVEL_STYL_1 to TRAVEL_STYL_8) with specific validation rules and textual descriptions for the travel styles. Use this input to filter the `woojin_select` DataFrame (which has been previously processed and saved to '/content/drive/MyDrive/woojin_select.csv') and display the matching `TRAVEL_ID`s. If no matches are found, inform the user.

## Define input prompts and validation

### Subtask:
Create clear prompts for each input required from the user (Gender, Age Group, TRAVEL_STYL_1 to TRAVEL_STYL_8). Define the validation rules for each input based on the user's specifications (e.g., Gender must be '남' or '여', Age Group must be multiples of 10, TRAVEL_STYL values must be 1, 2, or 3 with corresponding meanings).

**Reasoning**:
Define the textual descriptions for the recoded travel styles and create user-friendly prompts with validation logic for gender, age group, and travel styles.

In [ ]:
travel_style_descriptions = {
    'TRAVEL_STYL_1': {1: '자연', 2: '상관없음', 3: '도시'},
    'TRAVEL_STYL_2': {1: '숙박', 2: '상관없음', 3: '당일치기'},
    'TRAVEL_STYL_3': {1: '새로운지역', 2: '상관없음', 3: '익숙한지역'},
    'TRAVEL_STYL_4': {1: '편하지만비싼숙소', 2: '상관없음', 3: '불편하지만저렴함숙소'},
    'TRAVEL_STYL_5': {1: '휴양휴식', 2: '상관없음', 3: '엑티비티'},
    'TRAVEL_STYL_6': {1: '숨은명소', 2: '상관없음', 3: '유명한명소'},
    'TRAVEL_STYL_7': {1: '계획여행', 2: '상관없음', 3: '즉흥여행'},
    'TRAVEL_STYL_8': {1: '포토광', 2: '상관없음', 3: '절대안찍음'}
}

def get_gender_input():
    while True:
        gender = input("성별을 입력하세요 (남 또는 여): ").strip()
        if gender in ['남', '여']:
            return gender
        else:
            print("잘못된 입력입니다. '남' 또는 '여'로 입력해주세요.")

def get_age_group_input():
    while True:
        try:
            age_group = int(input("나이대를 입력하세요 (10, 20, 30, ...): "))
            if age_group > 0 and age_group % 10 == 0:
                return age_group
            else:
                print("잘못된 입력입니다. 10의 배수로 입력해주세요.")
        except ValueError:
            print("잘못된 입력입니다. 숫자를 입력해주세요.")

def get_travel_style_input(style_name):
    while True:
        description = travel_style_descriptions[style_name]
        prompt = f"선호도를 입력하세요 ({', '.join([f'{v}({k})' for k, v in description.items()])}): "
        user_input = input(prompt).strip()
        for key, value in description.items():
            if user_input == value or user_input == str(key):
                return key
        print("잘못된 입력입니다. 유효한 옵션 중 하나를 선택해주세요.")

## Implement input collection and validation

### Subtask:
Collect input from the user for each required field (Gender, Age Group, TRAVEL_STYL_1 to TRAVEL_STYL_8) and validate the input against the defined rules. If the input is invalid, prompt the user to enter the information again.

**Reasoning**:
Collect and validate user input for Gender, Age Group, and Travel Styles using the previously defined functions.

In [ ]:
gender_input = get_gender_input()
age_group_input = get_age_group_input()

travel_style_cols = [f'TRAVEL_STYL_{i}' for i in range(1, 9)]
travel_style_inputs = {}
for style_name in travel_style_cols:
    travel_style_inputs[style_name] = get_travel_style_input(style_name)

print("\n입력된 정보:")
print(f"성별: {gender_input}")
print(f"나이대: {age_group_input}")

print("여행 스타일 선호도:")
for style, value in travel_style_inputs.items():
    print(f"  {style}: {value} ({travel_style_descriptions[style][value]})")

성별을 입력하세요 (남 또는 여): 남
나이대를 입력하세요 (10, 20, 30, ...): 40
선호도를 입력하세요 (자연(1), 상관없음(2), 도시(3)): 2
선호도를 입력하세요 (숙박(1), 상관없음(2), 당일치기(3)): 2
선호도를 입력하세요 (새로운지역(1), 상관없음(2), 익숙한지역(3)): 2
선호도를 입력하세요 (편하지만비싼숙소(1), 상관없음(2), 불편하지만저렴함숙소(3)): 2
선호도를 입력하세요 (휴양휴식(1), 상관없음(2), 엑티비티(3)): 2
선호도를 입력하세요 (숨은명소(1), 상관없음(2), 유명한명소(3)): 2
선호도를 입력하세요 (계획여행(1), 상관없음(2), 즉흥여행(3)): 2
선호도를 입력하세요 (포토광(1), 상관없음(2), 절대안찍음(3)): 2

입력된 정보:
성별: 남
나이대: 40
여행 스타일 선호도:
  TRAVEL_STYL_1: 2 (상관없음)
  TRAVEL_STYL_2: 2 (상관없음)
  TRAVEL_STYL_3: 2 (상관없음)
  TRAVEL_STYL_4: 2 (상관없음)
  TRAVEL_STYL_5: 2 (상관없음)
  TRAVEL_STYL_6: 2 (상관없음)
  TRAVEL_STYL_7: 2 (상관없음)
  TRAVEL_STYL_8: 2 (상관없음)

## Filter dataframe based on inputs

### Subtask:
Filter the `woojin_select` DataFrame based on the validated user inputs for Gender, Age Group, and the recoded TRAVEL_STYL columns.

**Reasoning**:
Filter the DataFrame based on gender, age group, and the recoded travel style preferences.

In [ ]:
filtered_df = woojin_select[
    (woojin_select['GENDER'] == gender_input) &
    (woojin_select['AGE_GRP'] == age_group_input)
]

for style_name, preference in travel_style_inputs.items():
    filtered_df = filtered_df[filtered_df[style_name] == preference]

display(filtered_df)

,TRAVEL_ID,GENDER,AGE_GRP,INCOME,MARR_STTS,HOUSE_INCOME,TRAVEL_LIKE_SIDO_1,TRAVEL_STYL_1,TRAVEL_STYL_2,TRAVEL_STYL_3,...,TRAVEL_STYL_6,TRAVEL_STYL_7,TRAVEL_STYL_8,TRAVEL_STATUS_ACCOMPANY,VISIT_AREA_ID,VISIT_AREA_NM,LODGING_NM,TRAVEL_TERM,road_select,road_select_first_word
1540,e000680,남,40,8,2,8.0,11,2,2,2,...,2,2,2,자녀 동반 여행,2306030002,페어몬트 앰배서더 서울,숙소에 도착,3,페어몬트호텔,페어몬트호텔
1541,e000680,남,40,8,2,8.0,11,2,2,2,...,2,2,2,자녀 동반 여행,2306030003,번 패티 번,숙소에 도착,3,더현대,더현대
1542,e000680,남,40,8,2,8.0,11,2,2,2,...,2,2,2,자녀 동반 여행,2306030004,리스토란테 에오,숙소에 도착,3,서울 영등포구 여의대로 108,서울
1543,e000680,남,40,8,2,8.0,11,2,2,2,...,2,2,2,자녀 동반 여행,2306030005,호텔 수영장,숙소에 도착,3,페어몬트호텔,페어몬트호텔
1544,e000680,남,40,8,2,8.0,11,2,2,2,...,2,2,2,자녀 동반 여행,2306030006,여의도 한강공원,숙소에 도착,3,여의도공원,여의도공원
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65193,h000871,남,40,3,2,4.0,42,2,2,2,...,2,2,2,자녀 동반 여행,2306300003,만장굴,제주웨스턴그레이스 강정점,3,제주특별자치도 제주시 구좌읍 만장굴길 182,제주특별자치도
65194,h000871,남,40,3,2,4.0,42,2,2,2,...,2,2,2,자녀 동반 여행,2306300004,리보스코화덕피자,제주웨스턴그레이스 강정점,3,제주특별자치도 제주시 수목원길 27,제주특별자치도
76543,h001614,남,40,2,2,2.0,50,2,2,2,...,2,2,2,자녀 동반 여행,2306240003,목장 카페 밭디,NaN,3,제주특별자치도 서귀포시 표선면 번영로 2486,제주특별자치도
76544,h001614,남,40,2,2,2.0,50,2,2,2,...,2,2,2,자녀 동반 여행,2306240004,신왕,NaN,3,제주특별자치도 서귀포시 성산읍 신양로 112,제주특별자치도
76545,h001614,남,40,2,2,2.0,50,2,2,2,...,2,2,2,자녀 동반 여행,2306240005,성산일출봉,NaN,3,제주특별자치도 서귀포시 성산읍 성산리 78,제주특별자치도

## Extract and display travel id

### Subtask:
Extract the unique `TRAVEL_ID`s from the filtered DataFrame and display them to the user.

**Reasoning**:
Check if the filtered DataFrame is empty and then extract and display the unique TRAVEL_IDs if it's not empty.

In [ ]:
if filtered_df.empty:
    print("입력하신 조건에 맞는 여행 ID가 없습니다.")
else:
    unique_travel_ids = filtered_df['TRAVEL_ID'].unique()
    print("입력하신 조건에 맞는 여행 ID 목록:")
    for travel_id in unique_travel_ids:
        print(travel_id)

입력하신 조건에 맞는 여행 ID 목록:
e000680
e001140
e003159
e004101
e004819
e007334
e008174
e012305
g000252
g000441
g000459
g000862
g003563
g004869
g005889
g007248
g007330
g011189
g011233
g011522
g012152
g012179
g012677
g012775
e013127
g000431
g002199
g002507
g004347
h000765
h000871
h001614

## Handle no matching ids

### Subtask:
If no `TRAVEL_ID`s match the given criteria, inform the user that no results were found and perhaps suggest broadening their criteria.

**Reasoning**:
Check if the filtered_df is empty and print a message if it is, suggesting broadening the criteria.

In [ ]:
if filtered_df.empty:
    print("입력하신 조건에 맞는 여행 ID가 없습니다. 더 넓은 조건으로 검색해보세요.")

## Summary:

### Data Analysis Key Findings

*   The script successfully collected and validated user input for Gender, Age Group, and preferences for 8 different travel styles according to predefined rules and textual descriptions.
*   The `woojin_select` DataFrame was filtered based on the validated user inputs for Gender, Age Group, and each of the 8 travel style preferences.
*   The code extracted unique `TRAVEL_ID`s from the filtered DataFrame.
*   The script included logic to check if the filtered DataFrame was empty and provided a message to the user if no matching `TRAVEL_ID`s were found.

### Insights or Next Steps

*   Consider implementing a feature that allows the user to modify their input criteria easily if no matches are found, rather than having to restart the script.
*   Explore providing additional information about the matching `TRAVEL_ID`s, such as destination or a brief description, to give the user more context.

In [ ]:
import random

if 'unique_travel_ids' in locals() and unique_travel_ids.size > 0:
    random_travel_id = random.choice(unique_travel_ids)
    print(f"무작위로 선택된 TRAVEL_ID: {random_travel_id}")

    # Filter the original woojin_select DataFrame using the randomly selected ID
    random_id_df = woojin_select[woojin_select['TRAVEL_ID'] == random_travel_id]

    display(random_id_df[['road_select', 'road_select_first_word', 'VISIT_AREA_NM']])
elif 'filtered_df' in locals() and not filtered_df.empty:
     # If unique_travel_ids is not available but filtered_df is, use IDs from filtered_df
    unique_travel_ids = filtered_df['TRAVEL_ID'].unique()
    random_travel_id = random.choice(unique_travel_ids)
    print(f"무작위로 선택된 TRAVEL_ID: {random_travel_id}")

    # Filter the original woojin_select DataFrame using the randomly selected ID
    random_id_df = woojin_select[woojin_select['TRAVEL_ID'] == random_travel_id]

    display(random_id_df[['road_select', 'road_select_first_word', 'VISIT_AREA_NM']])
else:
    print("필터링된 여행 ID가 없습니다. 먼저 조건을 입력하여 여행 ID를 찾아주세요.")

무작위로 선택된 TRAVEL_ID: g002199

,road_select,road_select_first_word,VISIT_AREA_NM
47612,충남 천안시 서북구 성거읍 돌다리길 23-37,충남,망향휴게소 부산방향
47613,대전 유성구 봉명동 574,대전,유성온천공원 족욕체험장
47614,대전 유성구 온천로 59,대전,형과 아우 누룽지 삼계탕 왕갈비탕 대전 본점
47615,대전 서구 둔산대로 169,대전,한밭수목원
47616,대전 유성구 테크노중앙로 161,대전,호텔 스카이파크 대전 1호점
47617,대전 유성구 관평1로 94,대전,조가네 갑오징어 대 전관 평점
47618,대전 유성구 테크노중앙로 161,대전,호텔 스카이파크 대전 1호점
47619,대전 유성구 대학로 291,대전,카이스트 오리연못
47620,대전 유성구 대덕대로 481,대전,국립 중앙과학관
47621,대전 유성구 엑스포로123번길 34,대전,유성욱 도룡점
47622,대전 유성구 대덕대로 480,대전,엑스포과학공원 한빛탑
47623,충남 천안시 서북구 성거읍 돌다리길 23-37,충남,망향휴게소 부산방향
47624,대전 유성구 봉명동 574,대전,유성온천공원 족욕체험장
47625,대전 유성구 온천로 59,대전,형과 아우 누룽지 삼계탕 왕갈비탕 대전 본점
47626,대전 서구 둔산대로 169,대전,한밭수목원
47627,대전 유성구 테크노중앙로 161,대전,호텔 스카이파크 대전 1호점
47628,대전 유성구 관평1로 94,대전,조가네 갑오징어 대 전관 평점
47629,대전 유성구 테크노중앙로 161,대전,호텔 스카이파크 대전 1호점
47630,대전 유성구 대학로 291,대전,카이스트 오리연못
47631,대전 유성구 대덕대로 481,대전,국립 중앙과학관
47632,대전 유성구 엑스포로123번길 34,대전,유성욱 도룡점
47633,대전 유성구 대덕대로 480,대전,엑스포과학공원 한빛탑